<!DOCTYPE html>
<html lang="PT-BR">
<head>

  <%- include('../js/d.ejs/head.ejs'); %>

</head>
<body>
<header>
  <%- include('../js/d.js/header.ejs'); %>
</header>
  <%- include('../js/d.ejs/body.ejs'); %>

  <footer>
 <%- include('../js/d.ejs/footer.ejs'); %>
  </footer>
</body>
</html>