<section id="root" class="root">
        <div class="select-block">
        <a href="pdv.ejs">
            <img src="pdv.png" alt="logo do pdv">
            <p class="text select-block">Abrir saida de itens</p>
        </a>
        </div>
        <div class="select-block">
            <a href="entrada.ejs">
                <img src="Entarda.png" alt="logo do pdv">
                <p class="text select-block">Abrir Controle de estoque</p>
            </a>
            </div>
        <div class="select-block">
            <a href="finaceiro.ejs">
                <img src="finaceiro.png" alt="logo do pdv">
                <p class="text select-block">Abrir Finaceiro</p>
            </a>
        </div>
        <div class="select-block">
            <a href="dashboard.ejs">
                <img src="dashboard.png" alt="logo do pdv">
                <p class="text select-block">Abrir graficos</p>
                <small>Feito em Python</small>
            </a>
        </div>
        <div class="select-block">
            <a href="config.ejs">
                <img src="config.png" alt="logo do pdv">
                <p class="text select-block">Configurações</p>
            </a>
        </div>
</section>