<nav class="mainNav">
    <li class="nav-bar-left">
        <img src="logo.png" alt="logo do site">
    </li>
    <li class="nav-bar-center">
        <ul class="text-navbar">Inicio</ul>
        <ul class="text-navbar">Sobre</ul>
    </li>
</nav>